<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MangaConverter</title>
    <link href="/style.css" rel="stylesheet">
</head>

<body>
    <section class="main-section">
        <h1 class="main-header">Добро пожаловать в конвертер для контента сомнительного содержания</h1>
        <div id="uploadFile_Loader" class="upload-zone">
            <form class="form-upload" id="uploadForm" method="post" enctype="multipart/form-data" action="/upload"> 
                <div class="upload-zone_dragover">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1" viewBox="0 0 24 24" class="upload-loader__image">
                        <path d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242M12 12v9" />
                        <path d="m16 16-4-4-4 4" />
                    </svg>
                    <p>Перетащите файлы сюда</p>
                    <span class="form-upload__hint" id="hint"></span>
                </div>
                <label class="form-upload__label" for="uploadForm_file">
                    <!-- <span class="form-upload__title">Или нажмите кнопку</span> -->
                    <input class="form-upload__input" id="uploadForm_File" type="file" name="file" multiple
                        aria-describedby="hint">
                        <a class="download-button" href="/download">download</a>
                </label>
                <div class="form-upload__container">
                    <span class="form-upload__hint" id="uploadForm_Hint"></span>
                </div>
            </form>
        </div>
        <!-- <form class="form-upload" id="uploadForm" method="post" enctype="multipart/form-data">
            <div class="drop-zone">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1" viewBox="0 0 24 24" class="upload-loader__image">
                    <path d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242M12 12v9" />
                    <path d="m16 16-4-4-4 4" />
                </svg>
                <p class="drop-text-hint">Перетащите файлы сюда</p>
            </div>
            <label class="drop-zone-label" for="input-files">
                <p class="input-files-text">или нажмите кнопку</p>
                <input class="input-files" id="inputFiles" type="file" multiple name="file_name">
            </label>
            <div>
                <span class="form-upload-hint" id="uploadFormHint"></span>
            </div>
        </form> -->

    </section>

    <script src="/main.js"></script>
</body>

</html>